<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Framework.Automation.Listeners"/>
</listeners>
  
  <test name="Test home">
    <classes>
      <class name="Framework.Automation.HomePage"/>
       </classes>
        </test>
    
        <test name="Test heading">
    <classes>
  <class name="Framework.Automation.ValidateHeading"/>
       </classes>
        </test>
         <test name="Test navbar">
    <classes>
       <class name="Framework.Automation.validateNavBar"/>
       </classes>
        </test> 
        
  
</suite> <!-- Suite -->
